.meal-section {
    margin-bottom: 150px;
}

.meal-section__inner h2 {
    text-align: center;
    margin-bottom: 139px;
    font-family: Tinos, sans-serif;
    font-weight: 400;
    font-size: 54px;
}


.meal__pricing {
    display: flex;
    gap: 30px;
}

.burger-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 29px;
}

.burger-price{
    display: flex;
align-items: center;
    flex-wrap: wrap;
}
.burger-price p {
    font-family: Tinos, sans-serif;
    font-size: 26px;
    font-weight: 400;
}

